.main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-philippine-yellow);
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons {
    align-self: center;
    display: flex;
    gap: 1rem;
}